/* .array {
    color: red;
}
.var {
    color: purple;
}
.num {
    color: gold;
}
.for {
    color: purple;
}
.if {
    color: purple;
}
.else {
    color: purple;
}
.increment {
    color: purple;
}
.string {
    color: lightgreen;
}
.function {
    color: purple
}
.function_name {
        color: blue;
} */
